/*
**stylesheet of contact us section
*/
html {
    --bg:white;
    --heading:black;
    --color:#6C63FF;
    --border:rgba(0,0,0,0.3);
  }
  
  html[data-theme='dark'] {
    --bg:#333333;
    --heading:white;
    --border:rgba(255,255,255,0.3);
  }
  
  /* the contact us section */
  .contactusgrid {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: "a b b"
   "a c d"
   "a e f"
   "a g h";
    padding: 50px 20px 50px 30px;
    font-size: 13px;
    font-family: "Poppins";
    color: var(--heading);
  }
  
  .contactusgrid svg {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    grid-area: a;
  }
  
  .contactusgrid h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: b;
    padding: 20px;
    text-align: center;
  }
  
  .contactusgrid div {
    padding: 5px 20px;
  }
  
  .instagram {
    vertical-align: middle;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: c;
  }
  
  .facebook {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: d;
  }
  
  .twitter {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: e;
  }
  
  .gmail {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: f;
  }
  
  .github {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: g;
  }
  
  .linkedIn {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: h;
  }
  
  .contactusgrid a {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    color: var(--color);
  }
  
  /* the contact us section */
  /* mediaquery for responsiveness at 800px */
  @media (max-width: 800px) {
    .contactusgrid {
      padding: 10px;
    }
    .contactusgrid a {
      font-size: 10px;
    }
  }
  
  /* mediaquery for responsiveness at 800px */
  /* mediaquery for responsiveness at 600px */
  @media (max-width: 600px) {
    .contactusgrid {
          grid-template-areas: "a a a a a a"
   "b b b b b b"
   "c d e f g h";
    }
    .contactusgrid span {
      display: none;
    }
    .contactussvg {
      margin: auto;
      width: 200;
    }
    .contactusgrid div {
      text-align: center;
      padding: 0px;
    }
    .contactusgrid h2 {
      font-size: 15px;
    }
  }
  
  /* mediaquery for responsiveness at 600px */