/*
**stylesheet of get in touch form
*/
html {
    --bg:white;
    --heading:black;
    --color:#6C63FF;
    --border:rgba(0,0,0,0.3);
  }
  
  html[data-theme='dark'] {
    --bg:#333333;
    --heading:white;
    --border:rgba(255,255,255,0.3);
  }
  
  /* the get in touch section */
  .getintouchdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 20px 50px 30px;
  }
  
  .getintouchform {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .getintouchform input {
    height: 20px;
    margin: 10px auto;
    width: 500px;
    border: none;
    border-bottom: 1px solid var(--color);
    outline: none;
    padding: 10px;
    font-family: "Poppins";
    background-color: var(--bg);
    color: var(--heading);
  }
  
  .getintouchform input:focus {
    background-color: var(--bg);
  }
  
  #errormessage {
    font-size: 20px;
  }
  
  .sendgetintouch {
    width: 60px;
    margin: 10px auto;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--color);
    color: var(--heading);
    vertical-align: middle;
  }
  
  .getintouchform textarea {
    width: 500px;
    border: 1px solid var(--color);
    height: 100px;
    margin: 10px auto;
    padding: 10px;
    font-family: "Poppins";
    background-color: var(--bg);
    color: var(--heading);
  }
  
  .getintouchform svg {
    width: 10px;
    height: 10px;
  }
  
  /* the get in touch div */
  /* mediaquery for responsiveness at 800px */
  @media (max-width: 800px) {
    .getintouchdiv {
      padding: 20px;
    }
    .getintouchform input, .getintouchform textarea {
      width: 250px;
    }
  }
  
  /* mediaquery for responsiveness at 800px */
  /* mediaquery for responsiveness at 500px */
  @media (max-width: 500px) {
    .getintouchdiv {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .getintouchform {
      width: auto;
    }
  }
  
  /* mediaquery for responsiveness at 800px */