/*
**stylesheet of main landing page and the technology section
*/
* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  /* html variables for the toggle mode */
  html {
    --bg:white;
    --heading:black;
    --color:#6C63FF;
    --border:rgba(0,0,0,0.3);
  }
  
  html[data-theme='dark'] {
    --bg:#333333;
    --heading:white;
    --border:rgba(255,255,255,0.3);
  }
  
  section {
    margin: 10px 50px;
  }
  
  body {
    overflow-x: hidden;
    background: var(--bg);
  }
  
  /*for the toggle*/
  .toggle-container input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .toggle-container label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
  }
  
  .toggle-container label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .toggle-container input:checked + label {
    background: var(--color);
  }
  
  .toggle-container input:checked + label:after {
    left: calc(100% - 5px);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  
  .toggle-container label:active:after {
    width: 45px;
  }
  
  .toggle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after {
    -webkit-transition: all 750ms !important;
    transition: all 750ms !important;
    -webkit-transition-delay: 0 !important;
            transition-delay: 0 !important;
  }
  
  /*for the toggle*/
  /* for the first girl svg animation */
  #hair2, #hair1, #dress {
    -webkit-transform-origin: top;
            transform-origin: top;
    transform-box: fill-box;
    -webkit-animation: hair 1s linear infinite alternate;
            animation: hair 1s linear infinite alternate;
  }
  
  #plant1, #plant2, #plant3 {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-animation: plant 1s linear infinite alternate;
            animation: plant 1s linear infinite alternate;
    transform-box: fill-box;
  }
  
  @-webkit-keyframes hair {
    to {
      -webkit-transform: rotateZ(4deg);
              transform: rotateZ(4deg);
    }
    from {
      -webkit-transform: rotateZ(0);
              transform: rotateZ(0);
    }
  }
  
  @keyframes hair {
    to {
      -webkit-transform: rotateZ(4deg);
              transform: rotateZ(4deg);
    }
    from {
      -webkit-transform: rotateZ(0);
              transform: rotateZ(0);
    }
  }
  
  @-webkit-keyframes plant {
    to {
      -webkit-transform: rotateZ(-3deg);
              transform: rotateZ(-3deg);
    }
    from {
      -webkit-transform: rotateZ(0);
              transform: rotateZ(0);
    }
  }
  
  @keyframes plant {
    to {
      -webkit-transform: rotateZ(-3deg);
              transform: rotateZ(-3deg);
    }
    from {
      -webkit-transform: rotateZ(0);
              transform: rotateZ(0);
    }
  }
  
  /* for the first girl svg animation */
  /* for navbar */
  .navlinks {
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    color: var(--color);
    width: 60%;
  }
  
  .navlinks li {
    list-style: none;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  .navlinks li:hover {
    background-color: var(--color);
    color: var(--bg);
    border-radius: 10px;
  }
  
  /* for the main landing page */
  .mainpage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90vh;
    font-family: 'Playfair Display', serif;
  }
  
  .mainpage h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
    letter-spacing: 3px;
    line-height: 100px;
    color: var(--heading);
  }
  
  .mainpage h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    letter-spacing: 1px;
    position: absolute;
    top: 60%;
    left: 7%;
    font-size: 30px;
    color: var(--color);
  }
  
  #intro {
    position: relative;
    white-space: nowrap;
  }
  
  /* animations for the words on landing page */
  .hide10 {
    display: none;
  }
  
  .enter {
    display: block;
    opacity: 0;
    -webkit-animation: enter 1s linear forwards;
            animation: enter 1s linear forwards;
  }
  
  @-webkit-keyframes enter {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40px);
              transform: translateY(40px);
    }
    50% {
      opacity: .3;
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  
  @keyframes enter {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40px);
              transform: translateY(40px);
    }
    50% {
      opacity: .3;
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  
  @-webkit-keyframes exit {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      opacity: .3;
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-40px);
              transform: translateY(-40px);
      display: none;
    }
  }
  
  @keyframes exit {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      opacity: .3;
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-40px);
              transform: translateY(-40px);
      display: none;
    }
  }
  
  .exit {
    opacity: 0;
    -webkit-animation: exit 1s linear forwards;
            animation: exit 1s linear forwards;
  }
  
  /* animations for the words on landing page */
  /* for the main landing page */
  /* the options header */
  .optionheader {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 3px;
    font-size: 30px;
    width: 40%;
    text-align: center;
    border-bottom: 1px solid var(--heading);
    line-height: 0.1em;
    margin: 30px auto;
    color: var(--heading);
    /* margin: 10px 0 20px;  */
  }
  
  .optionheader span {
    background: var(--bg);
    padding: 0 10px;
  }
  
  /* the options header */
  /* for the technology section */
  .technologiesinabit {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: auto;
    color: var(--heading);
  }
  
  .technologiesinabit svg:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  
  .eachtechnology {
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--border);
    text-align: center;
  }
  
  .technologydesc {
    padding: 10px 30px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
  }
  
  .technologyheading {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
  }
  
  .eachtechnology img {
    width: 100px;
    height: 100px;
  }
  
  /* for the technology section */
  /* mediaquery for responsiveness at 1100px */
  @media (max-width: 1100px) {
    .optionheader {
      width: 80%;
    }
    .mainpage h1 {
      font-size: 32px;
    }
    .svgcharacter {
      width: 300px;
      height: 300px;
    }
    .navlinks {
      width: 75%;
    }
  }
  
  /* mediaquery for responsiveness at 1100px */
  /* mediaquery for responsiveness at 800px */
  @media (max-width: 800px) {
    section {
      margin: 0px;
    }
    .mainpage h1 {
      font-size: 33px;
      line-height: normal;
      text-align: center;
    }
    .mainpage h3 {
      overflow: hidden;
      position: absolute;
      top: 75%;
      left: 25%;
      font-size: 30px;
    }
    .mainpage {
      height: 70vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      margin-bottom: 20vh;
    }
    .optionheader {
      width: 70%;
      font-size: 25px;
    }
    .navlinks {
      width: 95%;
      font-size: 12px;
    }
  }
  
  /* mediaquery for responsiveness at 800px */
  /* mediaquery for responsiveness at 500px */
  @media (max-width: 500px) {
    nav {
      position: relative;
    }
    .hamburger {
      position: absolute;
      top: 10px;
      right: 20px;
      z-index: 200;
    }
    .line {
      width: 30px;
      height: 1px;
      margin: 5px;
      background-color: var(--color);
      z-index: 3;
    }
    .line.open {
      background-color: var(--bg);
    }
    .navlinks {
      position: fixed;
      height: 100vh;
      width: 100%;
      color: var(--bg);
      background-color: var(--color);
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      top: 0px;
      z-index: 2;
      -webkit-clip-path: circle(0px at 90% 0%);
              clip-path: circle(0px at 90% 0%);
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      pointer-events: none;
    }
    .navlinks.open {
      -webkit-clip-path: circle(800px at 90% 0%);
              clip-path: circle(800px at 90% 0%);
      pointer-events: all;
    }
    .mainpage {
      padding-top: 60px;
      height: 80vh;
    }
    .mainpage h1 {
      font-size: 30px;
    }
    .mainpage svg {
      width: 90%;
    }
    .mainpage h3 {
      position: absolute;
      left: 20%;
      width: 100%;
      white-space: nowrap;
    }
    .optionheader {
      width: 90%;
      font-size: 20px;
    }
    .mainpage h3 {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }
    #middlename {
      display: none;
    }
    body {
      overflow-x: hidden;
    }
    .navlinks li {
      font-size: 20px;
    }
    .toggle-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  
  /* mediaquery for responsiveness at 800px */